:root {
  --primary-gap: 30px;
}

*:focus {
  outline: 2px solid #2196F3;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: #757575;
}

button {
  cursor: pointer;
  border: none;
}

body {
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  background: #FFFFFF;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}
body.modal-open {
  overflow: hidden;
}

button,
ul,
p,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden, .feedback-form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button, .mail-push__button, .feedback-form__button, .hi-banner__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .mail-push__button:hover, .feedback-form__button:hover, .hi-banner__button:hover, .button:focus, .mail-push__button:focus, .feedback-form__button:focus, .hi-banner__button:focus {
  background-color: #188CE8;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
  background-color: #ffffff;
  z-index: 100;
}

.header .container {
  position: relative;
  max-width: 768px;
}
@media screen and (min-width: 1200px) {
  .header .container {
    max-width: 1200px;
  }
}

.my-logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
}

.my-logo--blue {
  color: #2196F3;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
  z-index: 101;
}
@media screen and (min-width: 768px) {
  .header-nav {
    height: 80px;
  }
}
.header-nav .my-logo {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header-nav .my-logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav .my-logo {
    margin-right: 92px;
  }
}

.header-nav__button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  color: black;
}
.header-nav__button:hover, .header-nav__button:focus {
  color: #2196F3;
}
.header-nav__button .menu__icon {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.header-nav__button .cross__icon {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.header-nav__button.js-close-menu .cross__icon {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.header-nav__button.js-close-menu .menu__icon {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
@media screen and (min-width: 768px) {
  .header-nav__button {
    display: none;
  }
}

.menu__icon,
.cross__icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 61px;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 101;
  padding: 0 15px;
  padding-bottom: 48px;
  background-color: #ffffff;
  pointer-events: none;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.drop-menu.is-open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  pointer-events: all;
}
@media screen and (min-width: 768px) {
  .drop-menu {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    padding: 0;
    margin: 0;
    height: 80px;
    overflow: hidden;
    background-color: transparent;
    pointer-events: all;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .drop-menu {
    height: 80px;
  }
}
.drop-menu .main-nav__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .drop-menu .main-nav__list {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-right: auto;
  }
}

.main-nav__item:not(:last-child) {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .main-nav__item {
    margin-bottom: 0;
  }
}

.main-nav__title {
  position: relative;
  display: block;
  padding: 15px 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__title:focus, .main-nav__title:hover {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .main-nav__title {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
  }
  .main-nav__title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 4px;
    width: 101%;
    -webkit-transform: scaleX(0%);
            transform: scaleX(0%);
    -webkit-transform-origin: left;
            transform-origin: left;
    z-index: 103;
    border-radius: 2px;
    background-color: #2196F3;
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-nav__title:focus::after, .main-nav__title:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
  .main-nav__title.main-nav__title--current::after {
    opacity: 1;
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
    color: #2196F3;
  }
}

.main-nav__title--current {
  color: #2196F3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.contacts-list__item .email {
  padding-bottom: 15px;
}
.contacts-list__item .phone {
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  .contacts-list__item .email {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .contacts-list__item .phone {
    padding-bottom: 20px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__item .email {
    padding: 32px 0;
  }
  .contacts-list__item .phone {
    padding: 32px 0;
  }
}

.email {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.16;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email:focus, .email:hover {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.14;
    font-size: 14px;
  }
}

.email__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .email__icon {
    display: block;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .email__icon {
    margin-right: 10px;
  }
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:focus, .phone:hover {
  color: #2196F3;
}
@media screen and (min-width: 327px) {
  .phone {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.phone__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .phone__icon {
    display: block;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .phone__icon {
    margin-right: 10px;
  }
}

.main-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .main-social-list {
    display: none;
  }
}

.main-social-list__item:not(:last-child)::after {
  content: "";
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-width: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.main-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-social__link:hover, .main-social__link:focus {
  color: #757575;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.hi-banner {
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_1x_480w.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_1x_480w.jpg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_1x_480w.webp);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_1x_480w.webp);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_2x_480w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_2x_480w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_2x_480w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_2x_480w.webp);
  }
}
@media screen and (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_3x_480w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_3x_480w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_3x_480w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_3x_480w.webp);
  }
}
@media screen and (min-width: 480px) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_1x_768w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_1x_768w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_1x_768w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_1x_768w.webp);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_2x_768w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_2x_768w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_2x_768w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_2x_768w.webp);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 3), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 480px) and (min-resolution: 288dpi), screen and (min-width: 480px) and (min-resolution: 3dppx) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_3x_768w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_3x_768w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_3x_768w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_3x_768w.webp);
  }
}
@media screen and (min-width: 768px) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_1x_1200w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_1x_1200w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_1x_1200w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_1x_1200w.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_2x_1200w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_2x_1200w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_2x_1200w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_2x_1200w.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hi-banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_3x_1200w.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_3x_1200w.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg_3x_1200w.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg_3x_1200w.webp);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hi-banner {
    padding: 200px 0;
  }
}

.hi-banner__title {
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hi-banner__title {
    font-size: 44px;
  }
}

.hi-banner__button {
  padding: 10px 24px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .features__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .features__body {
    -ms-flex-preferred-size: calc((100% - 1 * var(--primary-gap)) / 2);
        flex-basis: calc((100% - 1 * var(--primary-gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__body {
    -ms-flex-preferred-size: calc((100% - 3 * var(--primary-gap)) / 4);
        flex-basis: calc((100% - 3 * var(--primary-gap)) / 4);
  }
}

.features__bgc-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  height: 120px;
  margin-bottom: 30px;
}

.features__title {
  margin: 0 0 10px 0;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  line-height: 1.71;
}

.work-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-img {
    display: block;
    padding-top: 0;
  }
}

.work-img-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}

.work-img-list__item {
  -ms-flex-preferred-size: calc((100% - 2 * var(--primary-gap)) / 3);
      flex-basis: calc((100% - 2 * var(--primary-gap)) / 3);
}

.work-img-list__item-bg {
  position: relative;
}

.item-bg__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}

.team__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -ms-flex-preferred-size: calc((100% - 0 * var(--primary-gap)) / 1);
      flex-basis: calc((100% - 0 * var(--primary-gap)) / 1);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 1 * var(--primary-gap)) / 2);
        flex-basis: calc((100% - 1 * var(--primary-gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 3 * var(--primary-gap)) / 4);
        flex-basis: calc((100% - 3 * var(--primary-gap)) / 4);
  }
}

.team__body {
  padding: 30px 10px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__body {
    padding-bottom: 30px;
  }
}

.team__title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

.team__job-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  color: #AFB1B8;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social-list__icon {
  fill: currentColor;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--primary-gap);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands-list__item {
  -ms-flex-preferred-size: calc((100% - 1 * var(--primary-gap)) / 2);
      flex-basis: calc((100% - 1 * var(--primary-gap)) / 2);
}
@media screen and (min-width: 768px) {
  .brands-list__item {
    -ms-flex-preferred-size: calc((100% - 2 * var(--primary-gap)) / 3);
        flex-basis: calc((100% - 2 * var(--primary-gap)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .brands-list__item {
    -ms-flex-preferred-size: calc((100% - 5 * var(--primary-gap)) / 6);
        flex-basis: calc((100% - 5 * var(--primary-gap)) / 6);
  }
}

.brands-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  height: 92px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.brands-list__link:hover, .brands-list__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.brands-list__logo {
  fill: currentColor;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 101;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
@media screen and (min-width: 480px) {
  .modal {
    padding-top: 93px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 0;
  }
}

.modal-open {
  overflow: hidden;
}

.modal__body {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 90%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-height: 420px) {
  .modal__body {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
}
@media screen and (min-height: 500px) {
  .modal__body {
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
}
@media screen and (min-height: 580px) {
  .modal__body {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 480px) {
  .modal__body {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__body {
    width: 528px;
  }
}

.feedback-modal__icon-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:focus, .close:hover {
  color: #2196F3;
}

.close__icon {
  height: 18px;
  width: 18px;
  fill: currentColor;
}

.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
  width: 100%;
  margin-bottom: 20px;
}

.feedback-form__item {
  position: relative;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__lable-textarea,
.feedback-form__lable {
  position: absolute;
  top: 13px;
  left: 42px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__lable-textarea {
  left: 16px;
}

.feedback-form__textarea,
.feedback-form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__textarea:focus,
.feedback-form__input:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.feedback-form__input {
  width: 100%;
}
.feedback-form__input:focus ~ .feedback-form__lable {
  -webkit-transform: translate(-42px, -29px);
          transform: translate(-42px, -29px);
}
.feedback-form__input:focus ~ .feedback-form__icon, .feedback-form__input:focus ~ .feedback-form__lable {
  color: #2196F3;
}
.feedback-form__input:not(:-moz-placeholder-shown) ~ .feedback-form__lable {
  transform: translate(-42px, -29px);
}
.feedback-form__input:not(:-ms-input-placeholder) ~ .feedback-form__lable {
  transform: translate(-42px, -29px);
}
.feedback-form__input:not(:placeholder-shown) ~ .feedback-form__lable {
  -webkit-transform: translate(-42px, -29px);
          transform: translate(-42px, -29px);
}
.feedback-form__input:not(:-moz-placeholder-shown) {
  background-color: #ecf8fa;
}
.feedback-form__input:not(:-ms-input-placeholder) {
  background-color: #ecf8fa;
}
.feedback-form__input:not(:placeholder-shown) {
  background-color: #ecf8fa;
}
.feedback-form__input:not(:-moz-placeholder-shown) ~ .feedback-form__icon {
  color: #2196F3;
}
.feedback-form__input:not(:-ms-input-placeholder) ~ .feedback-form__icon {
  color: #2196F3;
}
.feedback-form__input:not(:placeholder-shown) ~ .feedback-form__icon {
  color: #2196F3;
}

.feedback-form__textarea {
  width: 100%;
  padding-left: 16px;
  resize: none;
}
.feedback-form__textarea:focus + .feedback-form__lable-textarea {
  color: #2196F3;
  -webkit-transform: translate(-16px, -30px);
          transform: translate(-16px, -30px);
}
.feedback-form__textarea:not(:-moz-placeholder-shown) + .feedback-form__lable-textarea {
  transform: translate(-16px, -30px);
  color: #2196F3;
}
.feedback-form__textarea:not(:-ms-input-placeholder) + .feedback-form__lable-textarea {
  transform: translate(-16px, -30px);
  color: #2196F3;
}
.feedback-form__textarea:not(:placeholder-shown) + .feedback-form__lable-textarea {
  -webkit-transform: translate(-16px, -30px);
          transform: translate(-16px, -30px);
  color: #2196F3;
}
.feedback-form__textarea:not(:-moz-placeholder-shown) {
  background-color: #ecf8fa;
}
.feedback-form__textarea:not(:-ms-input-placeholder) {
  background-color: #ecf8fa;
}
.feedback-form__textarea:not(:placeholder-shown) {
  background-color: #ecf8fa;
}

.feedback-form__item-checkbox {
  position: relative;
  margin-bottom: 30px;
}

.checkbox-style {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #000000;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__checkbox:checked + .checkbox-style {
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #2196F3;
  background-origin: border-box;
  border: 2px solid #2196F3;
}
.feedback-form__checkbox:focus + .checkbox-style, .feedback-form__checkbox:hover + .checkbox-style {
  border-color: #2196F3;
}

.feedback-form__checkbox-link {
  text-decoration: underline;
  color: #2196F3;
}

.feedback-form__lable-checkbox {
  font-size: 12px;
  line-height: 1.16;
  display: inline-block;
  padding-left: 23px;
}

.feedback-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-bottom: 50px;
  }
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.navigation__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background: #F5F4FA;
  border-style: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__button:hover, .navigation__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--primary-gap);
}

.example-item {
  -ms-flex-preferred-size: calc((100% - 0 * var(--primary-gap)) / 1);
      flex-basis: calc((100% - 0 * var(--primary-gap)) / 1);
}
@media screen and (min-width: 768px) {
  .example-item {
    -ms-flex-preferred-size: calc((100% - 1 * var(--primary-gap)) / 2);
        flex-basis: calc((100% - 1 * var(--primary-gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .example-item {
    -ms-flex-preferred-size: calc((100% - 2 * var(--primary-gap)) / 3);
        flex-basis: calc((100% - 2 * var(--primary-gap)) / 3);
  }
}

.example-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-item__link:hover, .example-item__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example-item__link:hover .hover-modal__item, .example-item__link:focus .hover-modal__item {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.example-item__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  background-color: #FFFFFF;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #EEEEEE;
}

.example-item__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.example-item__img {
  overflow: hidden;
}

.example-item__description {
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.example-item__link-modal {
  position: relative;
  overflow: hidden;
}

.hover-modal__item {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hover-modal__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hover-modal__text {
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

.footer {
  background: #2F303A;
  padding: 60px 0;
}
.footer .my-logo {
  margin-bottom: 20px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__row {
    gap: 0px;
  }
}

.my-logo--white {
  color: #FFFFFF;
}

.address__body {
  font-style: normal;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1170px) {
  .address__list {
    display: block;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__item .email, .address__item .phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item .email:focus, .address__item .email:hover, .address__item .phone:focus, .address__item .phone:hover {
  color: #2196F3;
}

.map {
  line-height: 1.71;
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map:focus, .map:hover {
  color: #2196F3;
}

.address__column {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__column {
    margin-right: 70px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .social__column {
    margin-right: auto;
  }
}

.social__column-text {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .social__column-text {
    text-align: left;
  }
}

.social__column .social-list__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__column .social-list__link:hover, .social__column .social-list__link:focus {
  background-color: #2196F3;
}

.social-list__icon {
  fill: currentColor;
}

.mail-push {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mail-push {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-push {
    width: 570px;
  }
}

.mail-push__lable {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .mail-push__lable {
    text-align: left;
  }
}

.mail-push__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .mail-push__row {
    gap: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.mail-push__input {
  padding: 15px 16px;
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-push__input:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.mail-push__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input,
.mail-push__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input {
  color: #ffffff;
}

.mail-push__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mail-push__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */