:root {
  --primary-gap: 30px;
}

*:focus {
  outline: 2px solid #2196F3;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: #757575;
}

button {
  cursor: pointer;
  border: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  background: #FFFFFF;
}

button,
ul,
p,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden, .feedback-form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button, .mail-push__button, .feedback-form__button, .hi-banner__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .mail-push__button:hover, .feedback-form__button:hover, .hi-banner__button:hover, .button:focus, .mail-push__button:focus, .feedback-form__button:focus, .hi-banner__button:focus {
  background-color: #188CE8;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-logo {
  display: inline-block;
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
}

.my-logo--blue {
  color: #2196F3;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.main-nav__title {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__title::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 2px;
  background-color: #2196F3;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__title:focus, .main-nav__title:hover {
  color: #2196F3;
}
.main-nav__title:focus::after, .main-nav__title:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}
.main-nav__title.main-nav__title--current::after {
  opacity: 1;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  color: #2196F3;
}

.main-nav__title--current {
  color: #2196F3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email:focus, .email:hover {
  color: #2196F3;
}

.email__icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:focus, .phone:hover {
  color: #2196F3;
}

.phone__icon {
  margin-right: 10px;
  fill: currentColor;
}

.section {
  padding: 94px 0;
}

.hi-banner {
  padding: 200px 0;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hi-banner__bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hi-banner__bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hi-banner__title {
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hi-banner__button {
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}

.features__body {
  -ms-flex-preferred-size: calc((100% - 3 * var(--primary-gap)) / 4);
      flex-basis: calc((100% - 3 * var(--primary-gap)) / 4);
}

.features__bgc-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  height: 120px;
  margin-bottom: 30px;
}

.features__title {
  margin: 0 0 10px 0;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features__text {
  line-height: 1.71;
}

.work-img {
  padding-top: 0;
}

.title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.work-img-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}

.work-img-list__item {
  -ms-flex-preferred-size: calc((100% - 2 * var(--primary-gap)) / 3);
      flex-basis: calc((100% - 2 * var(--primary-gap)) / 3);
}

.work-img-list__item-bg {
  position: relative;
}

.item-bg__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--primary-gap);
}

.team__item {
  background-color: #FFFFFF;
  -ms-flex-preferred-size: calc((100% - 3 * var(--primary-gap)) / 4);
      flex-basis: calc((100% - 3 * var(--primary-gap)) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__body {
  padding: 30px 32px;
}

.team__title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

.team__job-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  color: #AFB1B8;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social-list__icon {
  fill: currentColor;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--primary-gap);
}

.brands-list__item {
  -ms-flex-preferred-size: calc((100% - 5 * var(--primary-gap)) / 6);
      flex-basis: calc((100% - 5 * var(--primary-gap)) / 6);
}

.brands-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  height: 92px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.brands-list__link:hover, .brands-list__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.brands-list__logo {
  fill: currentColor;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.feedback-modal__icon-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:focus, .close:hover {
  color: #2196F3;
}

.close__icon {
  height: 18px;
  width: 18px;
  fill: currentColor;
}

.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
  width: 100%;
  margin-bottom: 20px;
}

.feedback-form__item {
  position: relative;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__position {
  position: relative;
}

.feedback-form__lable-textarea,
.feedback-form__lable {
  position: absolute;
  top: 13px;
  left: 42px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__lable-textarea {
  left: 16px;
}

.feedback-form__textarea,
.feedback-form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__textarea:focus,
.feedback-form__input:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.feedback-form__input {
  width: 100%;
}
.feedback-form__input:focus ~ .feedback-form__lable {
  -webkit-transform: translate(-42px, -29px);
          transform: translate(-42px, -29px);
}
.feedback-form__input:focus ~ .feedback-form__icon, .feedback-form__input:focus ~ .feedback-form__lable {
  color: #2196F3;
}
.feedback-form__input:not(:-moz-placeholder-shown) ~ .feedback-form__lable {
  transform: translate(-42px, -29px);
}
.feedback-form__input:not(:-ms-input-placeholder) ~ .feedback-form__lable {
  transform: translate(-42px, -29px);
}
.feedback-form__input:not(:placeholder-shown) ~ .feedback-form__lable {
  -webkit-transform: translate(-42px, -29px);
          transform: translate(-42px, -29px);
}
.feedback-form__input:not(:-moz-placeholder-shown) {
  background-color: #ecf8fa;
}
.feedback-form__input:not(:-ms-input-placeholder) {
  background-color: #ecf8fa;
}
.feedback-form__input:not(:placeholder-shown) {
  background-color: #ecf8fa;
}
.feedback-form__input:not(:-moz-placeholder-shown) ~ .feedback-form__icon {
  color: #2196F3;
}
.feedback-form__input:not(:-ms-input-placeholder) ~ .feedback-form__icon {
  color: #2196F3;
}
.feedback-form__input:not(:placeholder-shown) ~ .feedback-form__icon {
  color: #2196F3;
}

.feedback-form__textarea {
  width: 100%;
  padding-left: 16px;
  resize: none;
}
.feedback-form__textarea:focus + .feedback-form__lable-textarea {
  color: #2196F3;
  -webkit-transform: translate(-16px, -30px);
          transform: translate(-16px, -30px);
}
.feedback-form__textarea:not(:-moz-placeholder-shown) + .feedback-form__lable-textarea {
  transform: translate(-16px, -30px);
  color: #2196F3;
}
.feedback-form__textarea:not(:-ms-input-placeholder) + .feedback-form__lable-textarea {
  transform: translate(-16px, -30px);
  color: #2196F3;
}
.feedback-form__textarea:not(:placeholder-shown) + .feedback-form__lable-textarea {
  -webkit-transform: translate(-16px, -30px);
          transform: translate(-16px, -30px);
  color: #2196F3;
}
.feedback-form__textarea:not(:-moz-placeholder-shown) {
  background-color: #ecf8fa;
}
.feedback-form__textarea:not(:-ms-input-placeholder) {
  background-color: #ecf8fa;
}
.feedback-form__textarea:not(:placeholder-shown) {
  background-color: #ecf8fa;
}

.feedback-form__item-checkbox {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-style {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #000000;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__checkbox:checked + .checkbox-style {
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #2196F3;
  background-origin: border-box;
  border: 2px solid #2196F3;
}
.feedback-form__checkbox:focus + .checkbox-style, .feedback-form__checkbox:hover + .checkbox-style {
  border-color: #2196F3;
}

.feedback-form__checkbox-link {
  text-decoration: underline;
  color: #2196F3;
}

.feedback-form__lable-checkbox {
  display: inline-block;
  padding-left: 23px;
}

.feedback-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  margin-bottom: 50px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.navigation__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background: #F5F4FA;
  border-style: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__button:hover, .navigation__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--primary-gap);
}

.example-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: calc((100% - 2 * var(--primary-gap)) / 3);
      flex-basis: calc((100% - 2 * var(--primary-gap)) / 3);
}

.example-item__body {
  padding: 20px 24px;
  background-color: #FFFFFF;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #EEEEEE;
}

.example-item__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.example-item__img {
  overflow: hidden;
}

.example-item__description {
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.example-item__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-item__link:hover, .example-item__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example-item__link:hover .hover-modal__item, .example-item__link:focus .hover-modal__item {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.example-item__link-modal {
  position: relative;
  overflow: hidden;
}

.hover-modal__item {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-modal__text {
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

.footer {
  background: #2F303A;
  padding: 60px 0;
}
.footer .my-logo {
  margin-right: 0;
  margin-bottom: 20px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.my-logo--white {
  color: #FFFFFF;
}

.address__body {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item .email, .address__item .phone {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item .email:focus, .address__item .email:hover, .address__item .phone:focus, .address__item .phone:hover {
  color: #2196F3;
}

.map {
  line-height: 1.71;
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map:focus, .map:hover {
  color: #2196F3;
}

.address__column {
  margin-right: 70px;
}

.social__column {
  margin-right: auto;
}

.social__column-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social__column .social-list__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__column .social-list__link:hover, .social__column .social-list__link:focus {
  background-color: #2196F3;
}

.social-list__icon {
  fill: currentColor;
}

.mail-push__lable {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mail-push__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-push__input {
  padding: 15px 16px;
  margin-right: 12px;
  height: 50px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-push__input:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.mail-push__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input,
.mail-push__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.mail-push__input {
  color: #ffffff;
}

.mail-push__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mail-push__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */