.email {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: $transition-color;

    &:focus,
    &:hover {
        color: $primary-color-hover;
    }
}

.email__icon {
    margin-right: 10px;
    fill: currentColor;
}