.footer {
    background: $dark-background;
    padding: 60px 0;

    .my-logo {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.footer__row {
    display: flex;
    align-items: baseline;
}

.my-logo--white {
    color: #FFFFFF;
}

.address__body {
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__item {

    & .email,
    & .phone {
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        transition: $transition-color;

        &:focus,
        &:hover {
            color: $primary-color-hover;
        }
    }
}

.map {
    line-height: 1.71;
    color: #FFFFFF;
    transition: $transition-color;

    &:focus,
    &:hover {
        color: $primary-color-hover;
    }
}

.address__column {
    margin-right: 70px;
}

//2 колонка

.social__column {
    margin-right: auto;
}

.social__column-text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}


.social__column {
    .social-list__link {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        transition: $transition-bg;

        &:hover,
        &:focus {
            background-color: $primary-color-hover;
        }
    }
}

.social-list__icon {
    fill: currentColor;
}

//3 колонка

.mail-push {}

.mail-push__form {}

.mail-push__lable {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mail-push__row {
    display: flex;
    align-items: center;
}

.mail-push__input {
    padding: 15px 16px;
    margin-right: 12px;

    height: 50px;
    min-width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    transition: $transition_border-color;

    &:focus {
        border: 1px solid $primary-color-hover;
        outline: none;
    }
}

.mail-push__input,
.mail-push__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;
    color: rgba(255, 255, 255, 0.6);
}

.mail-push__input {
    color: #ffffff;
}


.mail-push__button {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mail-push__button {
    @extend .button;
}

.mail-push__icon {
    margin-left: 10px;

    width: 24px;
    height: 24px;
    fill: currentColor;
}