.header-nav {
    display: flex;
    align-items: center;
}

.main-nav__list {
    display: flex;
    gap: 50px;
}

.main-nav__title {
    position: relative;
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-title-color;
    transition: $transition-color;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;

        height: 4px;
        width: 100%;
        transform: scaleX(0%);
        transform-origin: left;

        border-radius: 2px;
        background-color: $primary-color-hover;
        opacity: 0;
        transition: $transition-opacity, $transition-transform;
    }

    &:focus,
    &:hover {
        color: $primary-color-hover;

        &::after {
            opacity: 1;
            transform: scaleX(100%);
        }
    }

    &.main-nav__title--current::after {
        opacity: 1;
        transform: scaleX(100%);
        color: $primary-color-hover;
    }

}

.main-nav__title--current {
    color: $primary-color-hover;
}