.header-nav {
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and (min-width:768px) {
        height: 80px;
    }

    & .my-logo {
        margin-right: auto;

        @media screen and (min-width: 768px) {
            margin-right: 87px;
        }

        @media screen and (min-width: 1170px) {
            margin-right: 92px;
        }
    }
}

.menu__icon,
.cross__icon {}

.header-nav__button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;

    &:hover,
    &:focus {
        color: $primary-color-hover;
    }

    .menu__icon {
        transform: scaleY(1);

    }

    .cross__icon {
        transform: scaleY(0);
    }

    &.replacement {
        .cross__icon {
            transform: scaleY(1);
        }

        .menu__icon {
            transform: scaleY(0);
        }
    }
@media screen and (min-width: 768px) {
    display: none;
}
}

.menu__icon,
.cross__icon {
    width: 40px;
    height: 40px;
    fill: currentColor;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-menu {
display: none;

    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    // &.is-open {
    //     transform: translateY(1);
    // }

}

.main-nav__list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 50px;
        margin-right: auto;
    }
}

.main-nav__title {
    position: relative;
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-title-color;
    transition: $transition-color;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;

        height: 4px;
        width: 100%;
        transform: scaleX(0%);
        transform-origin: left;

        border-radius: 2px;
        background-color: $primary-color-hover;
        opacity: 0;
        transition: $transition-opacity, $transition-transform;
    }

    &:focus,
    &:hover {
        color: $primary-color-hover;

        &::after {
            opacity: 1;
            transform: scaleX(100%);
        }
    }

    &.main-nav__title--current::after {
        opacity: 1;
        transform: scaleX(100%);
        color: $primary-color-hover;
    }

}

.main-nav__title--current {
    color: $primary-color-hover;
}