.hi-banner {
    padding: 200px 0;
    margin: 0 auto;
    max-width: 1600px;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark-background;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hi-banner__bg_1x_480w.jpg);

    @media screen and (min-width: 1170px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_1x_1200w.jpg);
    }

    @media screen and (min-width: 1170px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_1x_1200w.vebp);
    }

    @media screen and (min-width: 1170px),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_2x_1200w.jpg);
    }

    @media screen and (min-width: 1170px),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_2x_1200w.webp);
    }

    @media screen and (min-width: 1170px),
    (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_3x_1200w.jpg);
    }

    @media screen and (min-width: 1170px),
    (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_3x_1200w.webp);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_1x_768w.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_1x_768w.webp);
    }

    @media screen and (min-width: 768px),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_2x_768w.jpg);
    }

    @media screen and (min-width: 768px),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_2x_768w.webp);
    }

    @media screen and (min-width: 768px),
    (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_3x_768w.jpg);
    }

    @media screen and (min-width: 768px),
    (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_3x_768w.webp);
    }

    @media screen and (min-width: 480px), (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_2x_480w.jpg);
    }

    @media screen and (min-width: 480px), (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_2x_480w.webp);
    }

    @media screen and (min-width: 480px), (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_3x_480w.jpg);
    }

    @media screen and (min-width: 480px), (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_3x_480w.webp);
    }

    @media screen and (min-width: 479px), (max-width:767px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hi-banner__bg_1x_480w.webp);
    }
}

.hi-banner__title {
    margin-bottom: 30px;

    font-weight: 900;
    text-align: center;
    font-size: 26px;
    // font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.hi-banner__button {
    @extend .button;
    padding: 10px 24px;
    display: block;
    margin: 0 auto;
    text-align: center;
}