.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: scaleX(1);
    background-color: rgba(0, 0, 0, 0.2);

    transition: $transition-opacity, $transition-transform;
  }

.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scaleX(0);
}

.modal__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    width: 528px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.feedback-modal__icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #000000;
    background-color: #ffffff;

    transition: $transition-color;

    &:focus,
    &:hover {
        color: $primary-color-hover;
    }
}

.close__icon {
    height: 18px;
    width: 18px; 
    fill: currentColor;
}

.modal__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-form__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;

    width: 100%;
    margin-bottom: 20px;
}

.feedback-form__item {
    position: relative;
    color: #000000;

    transition: $transition-color;
}

.feedback-form__position {
    position: relative;
}

.feedback-form__lable-textarea,
.feedback-form__lable {
    position: absolute;
    top: 13px;
    left: 42px;

    transform: translate(0, 0);
    color: #000000;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    transition: $transition-color, $transition-transform;
}

.feedback-form__lable-textarea {
    left: 16px;
}

.feedback-form__textarea,
.feedback-form__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 42px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: #ffffff;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid #2196F3;
        outline: none;
    }
}

.feedback-form__input {
    width: 100%;

    &:focus~.feedback-form__lable {
        transform: translate(-42px, -29px);
    }

    &:focus~.feedback-form__icon,
    &:focus~.feedback-form__lable {
        color: $primary-color-hover;
    }

    &:not(:placeholder-shown)~.feedback-form__lable {
        transform: translate(-42px, -29px);
    }

    &:not(:placeholder-shown) {
        background-color: #ecf8fa;
    }

    &:not(:placeholder-shown)~.feedback-form__icon {
        color: $primary-color-hover;
    }
   
}

.feedback-form__textarea {
    width: 100%;
    padding-left: 16px;
    resize: none;

    &:focus+.feedback-form__lable-textarea {
        color: $primary-color-hover;
        transform: translate(-16px, -30px);
    }

    &:not(:placeholder-shown)+.feedback-form__lable-textarea {
        transform: translate(-16px, -30px);
        color: $primary-color-hover;
    }

    &:not(:placeholder-shown) {
        background-color: #ecf8fa;
    }

}

.feedback-form__item-checkbox {
    position: relative;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
}

.checkbox-style {
    position: absolute;
    left: 0;
    top: 0;

    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid #000000;

    transition: $transition_border-color;
}

.feedback-form__checkbox {
@extend .visually-hidden;


    &:checked+.checkbox-style {
        background-image: url(../img/icon-check.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: $primary-color-hover;
        background-origin: border-box;
        border: 2px solid $primary-color-hover;
    }

    &:focus+.checkbox-style,
    &:hover+.checkbox-style {
        border-color: $primary-color-hover;
    }
}

.feedback-form__checkbox-link {
    text-decoration: underline;
    color: #2196F3;
}

.feedback-form__lable-checkbox {
    display: inline-block;
    padding-left: 23px;
}

.feedback-form__button {
@extend .button;
}

.feedback-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
    fill: currentColor;

    transition: $transition-color;
}