.my-logo {
    display: inline-block;
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    letter-spacing: 0.03em;
}

.my-logo--blue {
    color: #2196F3;
}