.section {}

.examples-work {}

.navigation {
    margin-bottom: 50px;
}

.navigation-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.navigation__button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: $primary-title-color;
    background: #F5F4FA;
    border-style: none;
    border-radius: 4px;

    transition: $transition-color, $transition-bg, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #FFFFFF;
        background-color: $primary-color-hover;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--primary-gap);
}

.example-item {
    flex-grow: 1;
    flex-shrink: 1;
    @include basis (2, 3);
}

.example-item__body {
    padding: 20px 24px;

    background-color: #FFFFFF;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #EEEEEE;
}

.example-item__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-title-color;
}

.example-item__img {
    overflow: hidden;
}

.example-item__description {
    line-height: 1.88;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.example-item__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

        .hover-modal__item {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0%);
        }
    }
}

.example-item__link-modal {
    position: relative;
    overflow: hidden;
}

.hover-modal__item {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(101%);

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    pointer-events: none;
    transition: $transition-opacity, $transition-transform;
}

.hover-modal__text {
    padding: 0 24px;

    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
}