.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--primary-gap);
}

.team__item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        @include basis(1, 2);
    }

    @media screen and (min-width: 1170px) {
        @include basis(3, 4);
    }
}

.team__body {
    padding: 30px 10px;
    padding-bottom: 24px;

    @media screen and (min-width: 1170px) {
        padding-bottom: 30px;
    }
}

.team-list__img {}

.team__title {
    margin: 0 0 10px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $primary-title-color;
}

.team__job-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}