.button {
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;

    background-color: $primary-color-hover;
    color: #ffffff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: $transition-bg;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}